
.vs/slnx.sqlite
.vs/Verificacion/config/applicationhost.config
.vs/Verificacion/FileContentIndex/0306146f-3f8c-4f85-bfe4-073ff7df3c75.vsidx
.vs/Verificacion/FileContentIndex/492ddab9-e15c-4ee5-b525-03cf40f1904a.vsidx
.vs/Verificacion/FileContentIndex/c62f3e55-586a-4f37-af34-62370ef32534.vsidx
.vs/Verificacion/FileContentIndex/f74fa76e-b576-4ec9-9878-28f52e54d172.vsidx
.vs/Verificacion/FileContentIndex/0ee4b77a-d62e-4ba5-a888-588af576afed.vsidx
